@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap');

div {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.student {
  border-bottom: 2px solid lightgray;
}

.student-info {
  font-family: 'Raleway', sans-serif;
}

.student-name {
  font-family: 'Raleway', sans-serif;
  color: black;
  font-weight: bold;
  font-size: 50px;
}

img {
  width: 150px;
  border-radius: 50%;
  border: 2px solid lightgray;
}

.col1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nameSearch {
  margin: 0.2em;
  width: 99%;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nameSearch:focus {
  outline: none !important;
}

::placeholder { color: darkgray; }

.button {
  color: darkgrey;
  background-color: white;
  border: none;
  font-weight: bold;
  font-size: 70px;
}

.addTag {
  margin-bottom: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.addTag:focus {
  outline: none !important;
}