@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap');

div {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.student {
  border-bottom: 2px solid lightgray;
}

.student-info {
  font-family: 'Raleway', sans-serif;
  color: grey;
}

.student-name {
  font-family: 'Raleway', sans-serif;
  color: black;
  font-weight: bold;
  font-size: 50px;
}

img {
  width: 150px;
  border-radius: 50%;
  border: 2px solid lightgray;
}

.col1 {
  display: flex;
  align-items: center;
  justify-content: center;
}